@model WebUI.Models.CreateRoleModel
@{
    ViewBag.Title = "Добавление роли";
}
<h2>Добавление роли</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        <p>@Html.DisplayNameFor(model => model.Name):  @Html.EditorFor(model => model.Name)</p>
        <p>@Html.DisplayNameFor(model => model.Description): @Html.EditorFor(model => model.Description)</p>
        <p><input type="submit" value="Добавить" /></p>
    </div>
}