@model WebUI.Models.EditRoleModel
@{
    ViewBag.Title = "Редактирование роли";
}

<h2>Редактирование роли</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.Id)
        <p>@Html.DisplayNameFor(model=>model.Name):  @Html.EditorFor(model => model.Name)</p>
        <p>@Html.DisplayNameFor(model => model.Description): @Html.EditorFor(model => model.Description)</p>
        <p><input type="submit" value="Изменить" /></p>
    </div>
}