<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OnlineUniversity</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Index", "Home")  <li />
                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {

                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Меню администратора <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Пользователи", "Index", "Account")</li>
                                <li>@Html.ActionLink("Роли", "Index", "Roles")</li>
                                <li>@Html.ActionLink("Классы", "Index", "Classroom")</li>
                                <li>@Html.ActionLink("Лекции","Index","Lecture") </li >
                                <li>@Html.ActionLink("Задачи", "Index", "Task") </li>
                                <li>@Html.ActionLink("Решения", "Index", "Solution") </li>
                            </ul>
                        </li>
                    } 

                    @if (ViewContext.HttpContext.User.IsInRole("Teacher"))
                    {

                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Меню преподавателя<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Создать класс", "Create", "Classroom", new { returnUrl = Request.Url }, null)</li>
                                <li>@Html.ActionLink("Мои классы", "ShowClassrooms", "Classroom", new { returnUrl = Request.Url }, null)</li>
                            </ul>  </li>
                    }                    
                   @if (ViewContext.HttpContext.User.IsInRole("Student"))
                   {

                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Меню<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Редактировать личные данные", "Edit", "Account")</li>
                                <li>@Html.ActionLink("Список классов в которых вы учитесь", "ShowClassrooms", "Classroom", new { returnUrl = Request.Url }, null)</li>
                            </ul>
                        </li>


                  
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Выйти", "Logout", "Account")</li>
                    }
                    else {
                        <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
                        <li>@Html.ActionLink("Вход", "Login", "Account")</li>

                    }


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>